* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    
}



 
 



.menu-icon{
    display: none;
    flex-direction: column;
    gap: 5px;
}

.box {
    width: 30px;
    height: 3px;
    background: black;
    color: ;
    transition: 0.3s;

}

.menu-icon:hover .box:nth-child(2) {
    opacity: 0;
    transform: scale(0);
}

.menu-icon:hover .box:nth-child(1) {
    transform: rotate(45deg) translate(13px, 3px)scale(1.3);
}

.menu-icon:hover .box:nth-child(3) {
    transform: rotate(-45deg)translate(8px, 4px);
}


.contenar {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;


}

header {
    background: #D7D7D7;

}

.logo {
    width: 59.57px;
    height: 50px;
    margin-top: 30px;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 250px;
    margin-bottom: 20px;


}


.menu-list {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 17px;
    margin-top: 30px;




}

.menu-list li {
    list-style-type: none;
    ;
}

.menu-list li a {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;


}

.cta-buttn {
    width: 147px;
    height: 46px;
    border-radius: 30px;
    background: #FFFFFF;
    cursor: pointer;
    margin-top: 30px;


}

/* header section end  */
/* main section start */
.hero {
    background: #D7D7D7;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.hero-section h3 {
    font-size: 40px;
    margin-bottom: 30px;
}

.hero-section h1 {
    font-size: 70px;
}

.hero-section p {
    font-size: 25px;
    margin-left: 10px;
    margin-top: -10px;
    color: #909090;

}

.icons {

    margin-top: 40px;
    font-size: 30px;
    gap: 20px;
}

.icons:hover {
    color: ;
}

.fa-solid {
    width: 61px;
    height: 40px;
    background-color: #C4C4C4;
    margin-top: 20px;

}

.fa-github {
    width: 61px;
    height: 40px;
    background-color: #C4C4C4;
}

.fa-linkedin-in {
    width: 61px;
    height: 40px;
    background-color: #C4C4C4;
}


.admim img {
    width: 683px;
    height: 777px;

}

.fa-solid:hover {
    color: blue;
}

.fa-linkedin-in:hover {
    color: blue;
}

.fa-github:hover {
    color: blue;
}

/* hero section end  */

/* comment section start */
.opinion {

    background: rgb(23, 19, 19);
    color: white;

}

.comment {
    max-width: 1280px;
    width: 100%;
    height: 400px;

    margin-left: 40px;
}

.comment h1 {
    padding-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
}

.comment p {
    font-size: 15px;
    line-height: 1.9;
    color: #FFFFFF;

}

.itb-logo img {
    width: 300px;
    margin-left: 900px;
    margin-top: -245px;
}

.analise {

    margin-top: 30px;
    font-size: 15px;
    margin-right: 10px;


}

.line {
    border: 2px solid;
    margin-left: 10px;
    margin-right: 15px;


}





@media (max-width:1280px) {
    .contenar {
        padding: 0 20px;
    }

    .comment {
        padding: 0 20px;
    }

}

@media (max-width:768px) {
    .navbar{
        background: #000000;
        
    }

    .logo img{
        width: 40.13px;
        height: 35px;
        border-radius: 10px;
       
        background: #FFFFFF;
    }
    .menu-icon {
        display: flex;

        
    }
    .box{
        background: #FFFFFF;
    }

    .menu-list {

        flex-direction:column ;
    }
    .nav-menu {
     display: none;

    }
    
    .menu-icon:hover ~ .nav-menu{
        display: flex;
}

        /* navbar end */
    .hero{
        background: #000000;
        color: #FFFFFF;
    }
      .hero{
        font-size: 20px;
        font-weight: 400;
      } 
      .hero-section h3{
        font-size: 20px;
      } 
      .hero-section h1{
        font-size: 35px;
        margin-bottom: 10px;
      }
      .hero-section p{
        font-size: 12px;
      }
        .admin img{
            width: 100%;
            height: 100vh;
        }
        .media{
            width: 100%;
            height: 300px;
            position: absolute;
            display: flex;
         
            margin-top: 450px;
            background: rgb(142, 129, 129);
        }
        .fa-solid  {
            border-radius: 8px;
             font-size: 20px;
            width: 27.06px;
            height: 25px;
        }
        .icons{
            display: flex;
            flex-direction: column;
            margin-left: 550px;
            padding-right: 20px;
        }
        .fa-github{
            border-radius: 8px;
             font-size: 20px;
             width: 27.06px;
            height: 25px;
        }
        .fa-linkedin-in{
            border-radius: 8px;
            font-size: 20px;
             width: 27.06px;
            height: 25px;
        }
        
}
 